{{ if (eq .Values.nginx.service.type "ClusterIP") }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: k8-rebuild
spec:
  rules:
  - http:
      paths:
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: proxy-rest-api
            port: 
              number: 8080
      - path: /
        pathType: Prefix
        backend:
          service:
            name: "sow-rest-ui"
            port: 
              number: 80
{{- end -}}
